@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./__hero.scss);
@import url(./__social.scss);
@import url(./app.scss);
* {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Paytone One', sans-serif;
}
body {
    background: #000;
}
